{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Караоке-Бар | о нас {% endblock %}
{% block template %}
	<link rel="stylesheet" href="{% static 'mykino.css' %}">
{% endblock %}
{% block navbar %}
<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="sp1"><a href="/">КОМНАТЫ</a></li>
				<li class="sp1"><a href="/upcoming">НОВЫЕ КОМНАТЫ</a></li>
				<li class="sp1"><a href="/price">ЦЕНЫ И СКИДКИ</a></li>
				<li class="sp1"><a href="/guest">ГОСТЕВАЯ КНИГА</a></li>
				<li class="sp1 link"><a href="/my_karaoke">О КАРАОКЕ</a></li>
				<li class="sp1"><a href="/contact">КОНТАКТЫ</a></li>
				{% if user.is_authenticated %}
				    <li class="sp2"><a href="/cabinet/">Кабинет</a></li>|<li class="sp2">
                    <a href="/logout">Выход</a></li>
                {% else %}
                    <li class="sp2"><a href="/sign_in">Вход | Регистрация</a></li>
                {% endif %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="body">
		<p class="body_p">
		</p>
		<h4>
		Караоке-Бар
		</h4>
		<p class="p_price">
			Караоке-Бар расположен в центре города - идеальное место для веселого времяпрепровождения с друзьями и семьей.
		</p>
		<div class="columns">
 			<div class="item">
  				<img src="{% static 'img/kol1.jpg' %}" width="400">
 				<div class="info">
 					 <p><b>Караоке-Бар</b> <br>Интерьер</p>
 				</div>
 			</div>
		</div>
		<div class="columns">
 			<div class="item">
  				<img src="{% static 'img/kol2.jpg' %}" width="400">
 				<div class="info">
 					 <p><b>Караоке-Бар</b> <br>Вестибюль</p>
 				</div>
 			</div>
		</div>
		<div class="columns1">
 			<div class="item">
  				<img src="{% static 'img/kol4.jpg' %}" width="400">
 				<div class="info">
 					 <p><b>Караоке-Бар</b> <br>Комната люкс</p>
 				</div>
 			</div>
		</div>
		<div class="columns1">
 			<div class="item">
  				<img src="{% static 'img/kol3.jpg' %}" width="400">
 				<div class="info">
 					 <p><b>Караоке-Бар</b> <br>VIP комната</p>
 				</div>
 			</div>
		</div>
		<br>
		<p class="p_price2">
			Дружелюбный и внимательный персонал всегда готов помочь новым и постоянным гостям.<br>
			Уютная атмосфера, стильный интерьер и отличное оборудование сделают ваш визит незабываемым,
            и вы захотите вернуться к нам снова и снова.<br>
            Все комнаты оборудованы новейшей аппаратурой, микрофонами высокого качества и обширной базой песен.
		</p>

{% endblock %}