{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {{ room.name }} | отзыв {% endblock %}
{% block template %}
	<link rel="stylesheet" href="{% static 'otziv.css' %}">
    	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jq_otziv.js' %}"></script>
{% endblock %}
{% block navbar %}
<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="sp1"><a href="/">КОМНАТЫ</a></li>
				<li class="sp1"><a href="/upcoming">НОВЫЕ КОМНАТЫ</a></li>
				<li class="sp1"><a href="/price">ЦЕНЫ И СКИДКИ</a></li>
				<li class="sp1"><a href="/guest">ГОСТЕВАЯ КНИГА</a></li>
				<li class="sp1"><a href="/my_karaoke">О КАРАОКЕ</a></li>
				<li class="sp1"><a href="/contact">КОНТАКТЫ</a></li>
				{% if user.is_authenticated %}
				    <li class="sp2"><a href="/cabinet/">Кабинет</a></li>|<li class="sp2"><a href="/logout">Выход</a></li>
                {% else %}
                    <li class="sp2"><a href="/sign_in">Вход | Регистрация</a></li>
                {% endif %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block content %}

	<div class="body">
		<p class="body_p">
		    <br>
		</p>
		<h4>
			Отзыв о комнате {{ room.name }}
		</h4>
			<div class="one">
				<img src="{{ room.image.url }}" width="260" height="525">
			</div>
			<div class="two">
				<h3>{{ room.name }}</h3>
				<p class="two_p_one">{{ room.description }}</p>
				<p class="two_p_two">Бронирование:<span class="time"> <a href="/room/{{ room.url_name }}/">расписание</a></span></p>
				<p class="two_p_three">
					{{ room.full_description }}
				</p>
				<ul class="two_ul_two">
					<li class="two_li"><b>Вместимость:</b> до {{ room.max_persons }} человек</li>
					<li class="two_li"><b>Тип:</b> {% for type in room.room_type.all %} {{ type }}, {% endfor %}</li>
					<li class="two_li"><b>Оборудование:</b> {{ room.equipment }}</li>
					<li class="two_li"><b>Цена в час:</b> {{ room.price_per_hour }} руб</li>
				</ul>
			</div>
			<div class="three">
				<ul class="three_ul">
					<li class="three_li"><img src="{% static 'img/ico1.png' %}"><a href="/room/{{ room.url_name }}/"> Расписание и цены</a></li>
					<li class="three_li"><img src="{% static 'img/ico2.png' %}"><a href="/room_video/{{ room.url_name }}/"> Смотреть видео</a></li>
					<li class="three_li"><img src="{% static 'img/ico3.png' %}">Напишите отзыв о комнате</li>
				</ul>
			</div>
			<br>

            <br>
    {% for otziv in comments %}
        <div class="otziv">
            <h5>{{ otziv.name }}</h5>
            {{ otziv.date }}<br><br>
            {{ otziv.text }}
        </div>
        <br>
    {% endfor %}
        <hidden value="{{ room.url_name }}" id="hid1">
        <form method="POST">
            {% csrf_token %}
            <div class="otziv_form">
                <p class="p_otz">Оставить отзыв</p><br>
                <label class="name_otziv">Имя</label>
                <input name="name" id="name" type="text"><br>
                <label class="email_otziv">Email</label>
                <input id="email" name="email" type="email"><br>
                <label class="text_otziv">Комментарий</label>
                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="20000" aria-required="true" required="required"></textarea>
                <br><button id="button" class="but_otziv btn-success">Отправить</button>
            </div>
        </form>

        {% endblock %}
