{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Караоке-Бар | цены и скидки {% endblock %}
{% block template %}
	<link rel="stylesheet" href="{% static 'price.css' %}">
{% endblock %}
{% block navbar %}
<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="sp1"><a href="/">КОМНАТЫ</a></li>
				<li class="sp1"><a href="/upcoming">НОВЫЕ КОМНАТЫ</a></li>
				<li class="sp1 link"><a href="/price">ЦЕНЫ И СКИДКИ</a></li>
				<li class="sp1"><a href="/guest">ГОСТЕВАЯ КНИГА</a></li>
				<li class="sp1"><a href="/my_karaoke">О КАРАОКЕ</a></li>
				<li class="sp1"><a href="/contact">КОНТАКТЫ</a></li>
				{% if user.is_authenticated %}
				    <li class="sp2"><a href="/cabinet/">Кабинет</a></li>|<li class="sp2"><a href="/logout">Выход</a></li>
				{% else %}
				    <li class="sp2"><a href="/sign_in">Вход | Регистрация</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="body">
		<p class="body_p">
		</p>
		<h4>
		Цены на бронирование в Караоке-Баре
		</h4>
		<p class="p_price">
			Стандартные комнаты: от 500 до 1000 руб/час;<br>
			VIP комнаты: от 2000 до 4000 руб/час.
		</p>
		<p class="p_price2">
			Условия бронирования:
		</p>
			<p class="p_price">
			Минимальное время бронирования: 1 час;<br>
			Дисконт на групповое бронирование (от 5 часов): -15%.<br>
			Льготы выходного дня: +20% к цене.
		</p>
		<p class="p_price3">
			<b>Внимание:</b> Отмена бронирования за менее чем 2 часа до указанного времени — платная!
		</p>
	{% endblock %}
