{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}
{% block title %} Караоке-Бар | доступные комнаты {% endblock %}
{% block template %}	<link rel="stylesheet" href="{% static 'main.css' %}"> {% endblock %}
{% block navbar %}
<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="sp1 link"><a href="/">КОМНАТЫ</a></li>
				<li class="sp1"><a href="/upcoming">НОВЫЕ КОМНАТЫ</a></li>
				<li class="sp1"><a href="/price">ЦЕНЫ И СКИДКИ</a></li>
				<li class="sp1"><a href="/guest">ГОСТЕВАЯ КНИГА</a></li>
				<li class="sp1"><a href="/my_karaoke">О КАРАОКЕ</a></li>
				<li class="sp1"><a href="/contact">КОНТАКТЫ</a></li>
				{% if user.is_authenticated %}
				    <li class="sp2"><a href="/cabinet/">Кабинет</a></li>|<li class="sp2"><a href="/logout">Выход</a></li>
                {% else %}
                    <li class="sp2"><a href="/sign_in">Вход | Регистрация</a></li>
                {% endif %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="body">
		<p class="body_p">
		Найдите свою любимую комнату:
		</p>
		<div class="buttons">
            {% if weekday == 1 %}
			    <button class="button_active"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 2 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button_active"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 3 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button_active"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 4 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button_active"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 5 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button_active"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 6 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button_active"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 7 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button_active"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>

            {% endif %}
		</div>

        <h4>
            Наши комнаты на {{ for_date }}
		</h4>
            {% for slot in timeslots %}
                <br>
			<div class="one">
				<img src="{{ slot.room.image.url }}" width="260" height="525">

			</div>
			<div class="two">
				<h3>{{ slot.room.name }}</h3>
				<p class="two_p_one">{{ slot.room.description }}</p>
				<p class="two_p_two">Время: <span class="time"> <a href="/room/{{ slot.room.url_name }}/">расписание</a></span></p>
				<p class="two_p_three">
					{{ slot.room.full_description }}
				</p>
				<ul class="two_ul_two">
					<li class="two_li"><b>Вместимость:</b> до {{ slot.room.max_persons }} человек</li>
					<li class="two_li"><b>Тип:</b> {% for type in slot.room.room_type.all %} {{ type }}, {% endfor %}</li>
					<li class="two_li"><b>Оборудование:</b> {{ slot.room.equipment }}</li>
					<li class="two_li"><b>Цена в час:</b> {{ slot.room.price_per_hour }} руб.</li>
				</ul>
			</div>
			<div class="three">
				<ul class="three_ul">
					<li class="three_li"><img src="{% static 'img/ico1.png' %}"><a href="/room/{{ slot.room.url_name }}/"> Расписание и бронирование</a></li>
					<li class="three_li"><img src="{% static 'img/ico2.png' %}"><a href="/room_video/{{ slot.room.url_name }}/"> Смотреть видео комнаты</a></li>
					<li class="three_li"><img src="{% static 'img/ico3.png' %}"><a href="/room_review/{{ slot.room.url_name }}/"> Напишите отзыв</a></li>
				</ul>
			</div>
			<br>
        {% endfor %}
        {% if no_timeslots %}
            <br>
            <img class="closed_img" src="{% static 'img/closed.png' %}">
            <div class="closed_text">
                Извините, но на данный день все комнаты забронированы.
                <br>
                Приходите позже, возможно появятся свободные слоты.
            </div>

        {% else %}
			<div class="pagination">
		        <div class="pagination pagination-centered">
			<ul>
                {% for page in timeslots.paginator.page_range %}
                    {% if page == timeslots.number %}
                        <li class="current"><a href="/{{ date_url }}/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/{{ date_url }}/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
			</ul>
		</div>
	</div>
    {% endif %}
	</div>

{% endblock %}