{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ room.name }} | видео {% endblock %}
{% block template %}
	<link rel="stylesheet" href="{% static 'room_video.css' %}">
{% endblock %}
{% block navbar %}
<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="sp1"><a href="/">КОМНАТЫ</a></li>
			<li class="sp1"><a href="/upcoming">НОВЫЕ КОМНАТЫ</a></li>
			<li class="sp1"><a href="/price">ЦЕНЫ И СКИДКИ</a></li>
			<li class="sp1"><a href="/guest">ГОСТЕВАЯ КНИГА</a></li>
			<li class="sp1"><a href="/my_karaoke">О КАРАОКЕ</a></li>
			<li class="sp1"><a href="/contact">КОНТАКТЫ</a></li>
			{% if user.is_authenticated %}
			    <li class="sp2"><a href="/cabinet/">Кабинет</a></li>|<li class="sp2"><a href="/logout">Выход</a></li>
			{% else %}
			    <li class="sp2"><a href="/sign_in">Вход | Регистрация</a></li>
			{% endif %}	
			</ul>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="body">
		{% for room in rooms %}
		<div class="two">
			<p class="two_p_five">Видео комнаты</p>
			<h3>{{ room.name }}</h3>
			<p class="two_p_one">{{ room.description }}</p>
			<div class="three">
				<ul class="three_ul">
					<li class="three_li"><img src="{% static 'img/ico1.png' %}"><a href="/room/{{ room.url_name }}/">Расписание бронирования</a></li>
					<li class="three_li"><img src="{% static 'img/ico2.png' %}">Видео комнаты</li>
					<li class="three_li"><img src="{% static 'img/ico3.png' %}"><a href="/room_review/{{ room.url_name }}/"> Напишите отзыв</a></li>
				</ul>
				<div class="video">
					<iframe width="760" height="375" src="{{ room.video_url }}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<br>
			<p class="p_otz">{{ room.name }}</p>

		</div>

{% endfor %}
{% endblock %}
