{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Караоке-Бар | новые комнаты {% endblock %}
{% block template %}
	<link rel="stylesheet" href="{% static 'soon.css' %}">
{% endblock %}
{% block navbar %}
<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="sp1"><a href="/">КОМНАТЫ</a></li>
			<li class="sp1 link"><a href="/upcoming">НОВЫЕ КОМНАТЫ</a></li>
			<li class="sp1"><a href="/price">ЦЕНЫ И СКИДКИ</a></li>
			<li class="sp1"><a href="/guest">ГОСТЕВАЯ КНИГА</a></li>
			<li class="sp1"><a href="/my_karaoke">О КАРАОКЕ</a></li>
			<li class="sp1"><a href="/contact">КОНТАКТЫ</a></li>
			{% if user.is_authenticated %}
			    <li class="sp2"><a href="/cabinet/">Кабинет</a></li>|<li class="sp2"><a href="/logout">Выход</a></li>
			{% else %}
			    <li class="sp2"><a href="/sign_in">Вход | Регистрация</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="body">
		<p class="body_p">
		</p>
		<h4>
		Все наши комнаты:
		</h4>
        {% for room in rooms %}
			<div class="one">
				<img src="{{ room.image.url }}" width="260" height="525">
			</div>
			<div class="two">
				<h3>{{ room.name }}</h3>
				<p class="two_p_one">{{ room.description }}</p>
				
				<p class="two_p_three">
					{{ room.full_description }}
				</p>
				<ul class="two_ul_two">
					<li class="two_li"><b>Вместимость:</b> до {{ room.max_persons }} человек</li>
					<li class="two_li"><b>Тип:</b> {% for type in room.room_type.all %} {{ type }}, {% endfor %}</li>
					<li class="two_li"><b>Оборудование:</b> {{ room.equipment }}</li>
					<li class="two_li"><b>Цена в час:</b> {{ room.price_per_hour }} руб</li>
                    <li class="two_li"><b>Статус:</b> {% if room.is_available %}Доступна{% else %}Недоступна{% endif %}</li>
				</ul>
			</div>

			<div class="three">
				<ul class="three_ul">
					<li class="three_li"><img src="{% static 'img/ico2.png' %}"><a href="/treler/{{ film.url_name }}/"> Смотреть трейлер</a></li>
				</ul>
            </div>

        {% endfor %}

        <div class="pagination">
                    <div class="pagination pagination-centered">
                <ul>
                    {% for page in films.paginator.page_range %}
                        {% if page == films.number %}
                            <li class="current"><a href="/soon/page/{{ page }}/">{{ page }}</a></li>
                        {% else %}
                            <li><a href="/soon/page/{{ page }}/">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    <br>
{% endblock %}
